@media only screen and (max-width: 1300px) {
  .container-fluid {
    width: 100%;
    padding: 0 30px;
  }

  .overview-wrapper .container-fluid {
    width: 100%;
  }


}

@media only screen and (max-width: 1280px) {
  .auth-wrapper .auth {
    width: 100%;
  }

  .auth-content {
    padding: 14px 24px 14px 0px;
  }

  .wallet {
    .row {
      margin: 0 -16px;

      .col-8,
      .col-4 {
        padding: 0 16px;
      }
    }
  }

  .create-task {
    .row {
      margin: 0 -16px;

      .col-4,
      .col-8 {
        padding: 0 16px;
      }
    }
  }
}



@media only screen and (max-width: 1024px) {
  .font-56 {
    font-size: 2.5rem;
  }

  .hero-wrapper {
    padding-top: 150px;
    height: 860px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .accordion-button {
    height: 54px;
    font-size: 16px;
  }

  .faq-content .row {
    row-gap: 24px;
  }

  .footer-bottom .row .col:first-child {
    padding-right: 20px;
  }

  .mt-120 {
    margin-top: 80px;
  }

  .nav-menu.ps-5 {
    padding: 0 !important;
  }

  .auth-wrapper .auth {
    width: 580px;
    margin: 0 auto;

    .row {
      .col-sm-6:first-child {
        display: none;

      }

      .col-sm-6 {
        width: 100%;
      }
    }
  }

  .auth-content {
    padding: 24px;
  }

  .wallet-content .walletCard {
    padding: 24px;
  }
}

@media only screen and (max-width: 820px) {
  .menuContainer {
    gap: 24px !important;
  }

  .navbar-nav {
    gap: 16px;
  }

  .dashboard .page-title.filter {
    flex-direction: column;
    gap: 14px;
  }

  .job-details .row {
    margin: 0;
    flex-direction: column;
    row-gap: 24px;
  }

  .job-details .row .col-8,
  .job-details .row .col-4 {
    padding: 0;
    width: 100%;
  }

  .credintial-auth {
    width: 100%;
  }

  .notification .icon {
    width: 56px;
    min-height: 56px;
    max-height: fit-content;
    position: relative;
  }

  .profileImgContainer .profile-upload {
    width: 104px;
    height: 104px;
  }

  .setting .tab-content .card {
    padding: 24px 14px;
  }

  .modal .task-details div {
    flex-direction: column;
    align-items: flex-start !important;
    font-size: 14px !important;

    .btn {
      font-size: 14px !important;

    }
  }

  .modal .task-details .report-link {
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 20px;
  }

  .profile.mobile {
    display: block;
  }

  .profile.desktop {
    display: none;

  }

  .mobile-nav-toggler {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  /* mobile menu show */

  .mobile-menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .mobile-menu-visible {
    overflow: hidden;
  }

  .mobile-menu-visible .mobile-menu {
    transform: translateX(0%);
  }

  .mobile-menu .mobile-menu-nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    z-index: 5;
    padding: 20px 20px 0 20px;
  }

  .mobile-menu .mobile-menu-nav .menu-outer {
    padding-top: 30px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  .mobile-menu .mobile-menu-nav .divider {
    border-bottom: 1px solid var(--bs-neutral-300);
    padding: 6px 0;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    width: 50%;
  }

  .navbar-nav .nav-item .nav-link {
    align-items: start;
  }

  /* .profile.desktop {
    display: none;
  } */

  .profile.mobile {
    display: block;
  }

  /* mobile menu show */
  /* footer menu */
  .footer-menu {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 997;
    background: var(--bs-white);
    box-shadow: 0px -4px 20px 0px #0000001F;
    padding: 20px 24px 20px 24px;
    border-radius: 16px 16px 0px 0px;
  }

  .footer-menu ul {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
  }

  /* footer menu */

  .createPost {
    display: none !important;
  }

  .hero-wrapper {
    height: fit-content;
  }

  .hero-content {
    .row {
      flex-direction: column;
      gap: 24px;

      .col-sm-6 {
        width: 100%;
      }
    }
  }

  .offer-wrapper {
    margin-top: 80px;
  }

  .offer-wrapper .offer-content {
    box-shadow: none;
    padding: 0;

    .col-sm-6.ps-5 {
      padding-left: 20px !important;
    }

    .col-sm-6 {
      padding: 0 !important;

      .sub-heading {
        margin: 0;
        width: 100%;
      }
    }
  }

  h4 {
    font-size: 18px;
  }

  .category-content {
    .row {
      flex-direction: column;
      gap: 24px;
      margin: 0;

      .col-sm-6 {
        width: 100%;
        padding: 0;

      }
    }
  }

  .employee-content {
    .row {
      flex-direction: column;
      gap: 24px;
      margin: 0;

      .col-sm-6 {
        width: 100%;
        padding: 0;

      }
    }
  }

  .faq-content {
    .row {
      margin: 0;

      .col-sm-6 {
        width: 100%;
        padding: 0;

      }
    }
  }

  .footerContainer {
    margin-bottom: 96px;
  }

  .footer-bottom {
    .row {
      flex-direction: column;
      gap: 34px;
      text-align: center;
    }

    .social-icon {
      justify-content: center !important;
    }

  }

  .category-content .content {
    padding-right: 0;
  }

  .movile-view-filter {
    display: flex;
  }

  .dashboard-filter {
    display: none !important;
  }

  .dashboard .page-title.filter {
    flex-direction: row;
  }

  .movile-view-collapse {
    display: block;
  }

  .job-lists .table-responsive {
    display: none;
  }

  .mobile-view-table {
    display: flex !important;
  }

  .footer-top {
    flex-direction: column-reverse;
    align-items: center;
    gap: 14px;
  }

  .footer-top .sort-summary .summary {
    border: 0;
    padding-left: 0;
  }

  .job-question {
    width: 100%;
  }

  .job-question .card {
    padding: 16px;
    border-radius: 8px;
  }

  .main-content {
    margin-top: 170px;
  }

  .wallet {
    form .row {
      row-gap: 0;
    }

    .row {
      margin: 0;
      flex-direction: column;
      row-gap: 24px;

      .col-4,
      .col-8 {
        padding: 0;
        width: 100%;
      }
    }
  }

  .transaction-history .table-responsive {
    display: none;
  }

  /* .mobile-view-table .card {
    border: 0;
  } */

  .mobile-view-table {
    .payment-method {
      padding: 3px 8px;
      background: var(--bs-primary-500);
      color: var(--bs-white);
      border-radius: 4px;
    }
  }

  .create-task {
    .row {
      margin: 0;
      flex-direction: column-reverse;
      gap: 24px;

      .col-4,
      .col-8 {
        padding: 0;
        width: 100%;
      }
    }
  }

  .task_tracking .tracking-steps {
    flex-direction: row;
  }

  .streamline .step {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .streamline .step .step-icon {
    min-width: 100%;
    max-width: fit-content;
    min-height: fit-content;
    max-height: fit-content;
  }

  .streamline .step .step-icon::after {
    width: 100%;
    height: 1px;
    left: 48px;
    top: 14px;
  }

  .tracking_content .date-time {
    display: none !important;
  }

  .tracking_content h6 {
    font-size: 12px !important;
  }

  .streamline .step .tracking_content {
    width: 100%;
  }

  .task_tracking .card {
    padding: 0 !important;
    border: 0;
  }

  .task-content .card {
    padding: 0 !important;
    border: 0;

  }

  .notification .icon {
    width: 48px;
    min-height: 48px;
    max-height: fit-content;
    position: relative;
  }

  .messages .table-responsive .table thead {
    display: none;
  }

  .messages .table-responsive .table tbody {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }

  .messages .table-responsive {
    border-radius: 0;
  }

  .messages .card {
    border: 0;
    border-radius: 0;
  }

  .messages .table-responsive .table tbody tr {
    border: 1px solid var(--bs-neutral-300) !important;
    flex-direction: column;
    padding: 14px;
    border-radius: 8px;
    gap: 8px;
  }

  .messages .table-responsive .table tbody tr td {
    padding: 0;
  }

  .messages .table-responsive .table tbody tr td:last-child {
    display: none;
  }

  .messages .table-responsive .table tbody tr td:nth-child(2) {
    display: none;

  }

  .messages .table-responsive .table tbody tr:nth-child(even) {
    background: unset;
    border: 1px solid var(--bs-neutral-300) !important;

  }

  .chatbox {
    width: 100%;
  }

  .chatbox .card {
    padding: 14px !important;
  }

  .msg-send {
    width: 48px;

  }

  .profileImgContainer .profile-upload {
    width: 74px;
    height: 74px;
  }

  .setting .tab-content .card {
    padding: 24px;
  }

  .profileImgContainer .uploadIcon {
    bottom: 4px;
    right: -10px;
  }

  .setting .profile-status {
    .row {
      margin: 0;
      flex-direction: column;
      row-gap: 14px;

      .col-4,
      .col-8 {
        padding: 0;
        width: 100%;
      }
    }
  }

  .chart {
    .col-6 {
      padding: 0;
      width: 100%;
    }
  }

  .chart {
    .card {
      text-align: center;
    }

    .col-6 {
      .graphContainer img {
        width: 220px !important;
        height: 250px !important;
      }
    }
  }

  .freelancer-list .card {
    border: 0;
  }

  .my-tasks {
    .card {
      display: none;
    }
  }

  .my-task-submited {
    display: none;
  }

  .submitedTaskCard .card {
    width: calc(100% - 40px);
  }

  .finish-tasks {
    display: none;
  }

  .finished-task {

    .card.desktop {
      border: 0;
      padding: 0 !important;

      .right-side {
        display: none !important;
      }
    }
  }

  .article-details {
    .row {
      margin: 0;
      flex-direction: column;
      row-gap: 24px;

      .col-4,
      .col-8 {
        padding: 0;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:640px) {
  .auth-wrapper .auth {
    width: 100%;
  }

  .proof {
    gap: 0px;
    flex-direction: column;
  }

  .proof-input {
    width: 100%;
  }

  .proof-select {
    width: 100%;
  }

  .setting .tab-content .card {
    padding: 24px 14px;
  }

  .performance {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center !important;
  }

  .finished-task .tab-menus {
    min-width: 100%;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    touch-action: auto;
  }
}

@media only screen and (max-width: 575px) {
  .hero-content {
    .content {
      text-align: center;

      h6 {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .hero-content .getStart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      width: fit-content;
    }
  }

  .offer-wrapper .offer-content {
    text-align: center;

    .col-sm-6.ps-5 {
      padding-left: 0 !important;
      margin-top: 14px;
    }
  }

  .category-content {
    text-align: center;
  }

  .employee-content {
    text-align: center;

    .task {
      text-align: start;
    }

  }

  .container-fluid {
    padding: 0 20px;
  }

  .font-56 {
    font-size: 2rem;
  }

  .hero-content .sort-summary {
    display: none !important;
  }

  .mt-120 {
    margin-top: 60px;
  }

  .mini-navbar {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mini-navbar .content {
    width: unset;
    padding: 14px;
    gap: 14px !important;
  }

  #collapseExample form {
    .row {
      margin: 0 -8px;
    }

    .col-sm-6 {
      width: 50%;
      padding: 0 8px;
    }
  }

  h3 {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  .auth-form form {
    margin-top: 14px;
  }

  .auth-content {
    padding: 14px;
  }

  .input-field.otp .form-control {
    padding: 8px;
    width: 40px;
    height: 40px;
  }

  .input-field.otp {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .credintial-auth {
    padding: 14px;
  }

  .wallet-tab .btn-sm {
    padding: 0 0.5rem !important;
  }

  .wallet-content .walletCard {
    padding: 24px 14px;
  }

  .create-task .form-check .form-check-label {
    font-size: 12px;
    padding: 4px 10px;
  }

  .target_zone,
  .task-category {
    gap: 12px !important;
  }

  .btn-md {
    height: 40px;
  }

  .msg-send .btn-md {
    width: 48px;
    height: 48px;

  }

  .profileImgContainer .profile-upload {
    width: 64px;
    height: 64px;
  }

  .referal-link {
    width: 100%;
    margin: 0 auto;
    padding: 14px;
    background: var(--bs-neutral-100);
    border-radius: 8px;
  }

  .rate-freelancer {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 425px) {
  .brandlogo {
    width: 116px;
  }

  .profileContainer {
    gap: 16px !important;
  }

  .navbar-brand {
    gap: 16px !important;

  }

  .summary-icon {
    width: 40px;
    height: 40px;
  }

  .job-details .task-tab {
    gap: 12px !important;
    padding-bottom: 14px;
    margin-top: 14px !important;
  }

  .btn-md {
    height: 40px;
    padding: 0 0.5rem !important;
    font-size: 14px !important;
  }

  .input-field.otp {
    gap: 10px !important;
  }

  .wallet-tab .card {
    padding: 0;
    background: transparent;
  }

  .paginationContainer {
    align-items: center !important;
    justify-content: center !important;

    p {
      display: none !important;
    }
  }

  .selectDeposit_type {
    .radio_type {
      flex-direction: column;
      gap: 10px !important;
    }
  }

  .tracking_content h6 {
    font-size: 10px !important;
    /* text-align: center; */
  }


  .task_tracking .card {
    padding: 0 !important;
    border: 0;
  }

  .task_tracking .tracking-steps {
    padding: 0;
  }
}