<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">

   <!-- set your title -->
   <title> Task Burg Web</title>

   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- replace favicon path or source here -->
   <link rel="icon" href="assets/images/brand/favicon.ico">

   <!-- bootstrap and font-awesome cdn link -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
   <link rel="stylesheet" href="../assets/css/master.css">
   <link rel="stylesheet" href="../assets/css/style.css">
   <link rel="stylesheet" href="../assets/css/responsive.css">

</head>

<body>
   <div class="app-wrapper">
      <div class="navbar-wrapper">
         <div class="container-fluid h-100">
            <nav class="navbar h-100">
               <div class="menuContainer d-flex align-items-center gap-5">
                  <div class="navbar-brand d-flex align-items-center gap-4">
                     <div class="mobile-nav-toggler">
                        <img src="../assets/images/icon/hamburger.svg" alt="" class="w-auto h-auto">
                     </div>
                     <div class="brandlogo">
                        <img src="../assets/images/brand/logo.svg" alt="" class="w-auto h-auto">
                     </div>
                  </div>
                  <div class="nav-menu ps-5">
                     <ul class="navbar-nav" id="navbar-nav">
                        <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="#">
                              Abou Us
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " aria-current="page" href="#">
                              FAQs
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" aria-current="page" href="#">
                              Articles
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="profileContainer d-flex gap-2">
                  <a href="login.html" class="btn btn-link btn-md d-flex align-items-center justify-content-center">Log
                     in</a>
                  <a href="register.html"
                     class="btn btn-primary btn-md d-flex align-items-center justify-content-center">Register</a>
                  <!-- <div class="profile position-relative desktop" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     data-bs-title="Profile">
                     <img src="../assets/images/user.png" alt="" class="profile-btn  dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                     <div class="dropdown-menu" onclick="event.stopPropagation()">
                        <ul class="d-flex flex-column gap-3">
                           <li class="nav-item">
                              <a href="user_profile.html" class="nav-link">
                                 <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle class="my_acc" cx="4" cy="4" r="4"
                                       transform="matrix(-1 0 0 1 16.3652 3.95312)" stroke="#737373"
                                       stroke-width="1.5">
                                    </circle>
                                    <path class="my_acc"
                                       d="M5.36523 17.8878C5.36523 17.0274 5.90609 16.26 6.71633 15.9706V15.9706C10.3693 14.666 14.3612 14.666 18.0141 15.9706V15.9706C18.8244 16.26 19.3652 17.0274 19.3652 17.8878V19.2033C19.3652 20.3907 18.3135 21.3029 17.138 21.135L16.1836 20.9986C13.6509 20.6368 11.0796 20.6368 8.54686 20.9986L7.59244 21.135C6.41694 21.3029 5.36523 20.3907 5.36523 19.2033V17.8878Z"
                                       stroke="#737373" stroke-width="1.5"></path>
                                 </svg>
                                 <span class="title">Profile</span>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a href="setting.html" class="nav-link">
                                 <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect class="cng-pass" x="4" y="9.95312" width="16" height="12" rx="4"
                                       stroke="#737373" stroke-width="1.5"></rect>
                                    <path class="cng-pass" d="M12 16.9531L12 14.9531" stroke="#737373"
                                       stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path class="cng-pass"
                                       d="M16 9.95313V7.95313C16 5.74399 14.2091 3.95312 12 3.95312V3.95312C9.79086 3.95312 8 5.74399 8 7.95312L8 9.95313"
                                       stroke="#737373" stroke-width="1.5"></path>
                                 </svg>
                                 <span class="title">Reset Password</span>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a href="setting.html" class="nav-link">
                                 <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="logout"
                                       d="M16.3652 16.9531V18.9531C16.3652 21.1623 14.5744 22.9531 12.3652 22.9531H7.36523C5.1561 22.9531 3.36523 21.1623 3.36523 18.9531V6.95313C3.36523 4.74399 5.1561 2.95312 7.36523 2.95312H12.3652C14.5744 2.95312 16.3652 4.74399 16.3652 6.95312V8.95312"
                                       stroke="#737373" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path class="logout"
                                       d="M19.3652 15.9531L21.6581 13.6602C22.0487 13.2697 22.0487 12.6365 21.6581 12.246L19.3652 9.95313"
                                       stroke="#737373" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path class="logout" d="M21.3652 12.9531L9.36523 12.9531" stroke="#737373"
                                       stroke-width="1.5" stroke-linecap="round"></path>
                                 </svg>
                                 <span class="title">Log Out</span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div> -->
                  <!-- <div class="profile position-relative mobile" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     data-bs-title="Profile">
                     <img src="../assets/images/user.png" alt="" class="profile-btn">

                  </div> -->
               </div>

            </nav>
         </div>
      </div>

      <div class="mobile-menu">
         <div class="menu-backdrop"></div>
         <nav class="mobile-menu-nav">
            <div class="mobile-brand d-flex align-items-center justify-content-between">
               <div class="logo">
                  <a href="index.html"> <img src="../assets/images/brand/logo.svg" alt="" class="w-auto h-auto"></a>
               </div>
               <div class="close-btn ">
                  <img src="../assets/images/icon/close.png" alt="">
               </div>
            </div>
            <div class="divider"></div>
            <div class="menu-outer">


            </div>
         </nav>
      </div>

      <div class="main-content">
         <!-- authentication page -->
         <div class="auth-wrapper">
            <div class="container-fluid">
               <div class="credintial-auth">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="auth-form d-flex flex-column justify-content-around h-100">
                           <div class="auth-info text-center mb-4">
                              <h4 class="fw-600">Create New Password</h4>
                              <p class="font-16 fw-500 mt-2">An 6-Digit OTP has been send to akashbasak599@gmail.com</p>
                           </div>
                           <form action="" class="needs-validation" novalidate="">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label for="" class="form-label">New Password</label>
                                       <input type="password" class="form-control" placeholder="Enter new password">
                                       <div class="invalid-feedback">
                                          Please provide your correct password.
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label for="" class="form-label">Retype New Password</label>
                                       <input type="password" class="form-control" placeholder="Retype new password">
                                       <div class="invalid-feedback">
                                          Please provide your correct password.
                                       </div>
                                    </div>
                                 </div>
                                 <!-- <div class="col-sm-12">
                                    <div class="form-group mt-3">
                                       <button class="btn btn-primary w-100 btn-md" data-bs-toggle="modal"
                                          data-bs-target="#success-modal">Create Password</button>
                                    </div>
                                 </div> -->
                              </div>
                           </form>
                           <!-- remove this code when you develop -->
                           <div class="form-group mt-3">
                              <button class="btn btn-primary w-100 btn-md" data-bs-toggle="modal"
                                 data-bs-target="#success-modal">Create Password</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- authentication page -->
      </div>

      <div class="footerContainer">
         <div class="container-fluid">
            <footer>
               <div class=" footer-top d-flex justify-content-between">
                  <div class="footer-brand p-3">
                     <img src="../assets/images/brand/logo.svg" alt="" class="w-auto h-auto">
                  </div>
                  <div class="sort-summary d-flex align-items-center  gap-3">
                     <div class="summary d-flex align-items-center gap-3">
                        <div class="summary-icon">
                           <img src="../assets/images/icon/active_member-wg.svg" alt="" class="w-auto h-auto">
                        </div>
                        <div class="summary-content">
                           <h5 class="fw-600 text-white">10000+</h5>
                           <p class="text-white">Active members</p>
                        </div>
                     </div>
                     <div class="summary d-flex align-items-center gap-3">
                        <div class="summary-icon">
                           <img src="../assets/images/icon/avl_task_wg.svg" alt="" class="w-auto h-auto">
                        </div>
                        <div class="summary-content">
                           <h5 class="fw-600 text-white">1650+</h5>
                           <p class="text-white">Available Tasks</p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class=" footer-bottom mt-4">
                  <div class="row">
                     <div class="col">
                        <p class="text-white">Track connections in real time. See who your community being lead by
                           and
                           find the most active
                           Track connections</p>
                     </div>
                     <div class="col">
                        <h5 class="fw-600 text-white">Company</h5>
                        <ul class="d-flex flex-column link gap-1 mt-3">
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                           <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <h5 class="fw-600 text-white">Agreement</h5>
                        <ul class="d-flex flex-column link gap-1 mt-3">
                           <li><a href="#">Microjob Marketplace</a></li>
                           <li><a href="#">Deal Marketplace</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <h5 class="fw-600 text-white">Agreement</h5>
                        <ul class="d-flex gap-3 social-icon mt-3">
                           <li><a href="#" class="text-white "><i class="fa-brands fa-square-instagram"></i></a>
                           </li>
                           <li><a href="#" class="text-white"><i class="fa-brands fa-square-facebook"></i></a></li>
                           <li><a href="#" class="text-white"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </footer>
         </div>
      </div>
      <div class="modal" id="success-modal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body p-4">
                  <div class="message-content d-flex align-items-center justify-content-center flex-column gap-4">
                     <div class="message-icon">
                        <img src="../assets/images/icon/success_icon.svg" alt="" class="w-auto h-auto">
                     </div>
                     <h2 class="text-center">Password Changed Successfully</h2>
                     <p class="font-16 text-center">Password changed Successfully, New password has been sent to
                        users
                        contact number via SMS</p>

                     <div class="actionbtn d-flex align-items-center gap-4 mt-3 w-100 mb-2">
                        <a href="#"
                           class="btn btn-primary btn-md w-100 d-flex align-items-center justify-content-center">Go
                           to Home</a>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>


   <!-- bootstrap and jquery cdn link -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>


   <!-- custom javascript -->
   <script src="../assets/js/master.js"></script>
   <script src="../assets/js/custom.js"></script>
   <!-- custom javascript -->
</body>

</html>